<%= form_with(model: dividend) do |form| %>
  <% if dividend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dividend.errors.count, "error") %> prohibited this dividend from being saved:</h2>

      <ul>
        <% dividend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field form-group'>
    <%= form.label :stock_symbol, style: "display: block" %>
    <%= form.text_field :stock_symbol, class:'form-control', placeholder:'ex. GOOG', :required => true %>
  </div>

  <div class='field form-group'>
    <%= form.label :stock_name, style: "display: block" %>
    <%= form.text_field :stock_name, class:'form-control', placeholder:'ex. Google', :required => true %>
  </div>

  <div class='field form-group'>
    <%= form.label 'Annual Dividend (Exclude $)', style: "display: block" %>
    <%= form.text_field :div_amount, class:'form-control', placeholder:'ex 1.99', :required => true %>
  </div>

  <div class='field form-group'>
    <%= form.label :stock_owned, style: "display: block" %>
    <%= form.number_field :stock_owned, class:'form-control', placeholder:'ex. 10', :required => true %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
