<p style="color: green"><%= notice %></p>

<div class="card">
  <h3 class="card-header text-bg-info"><%= @dividend.stock_symbol %></h3>
  <div class="card-body">
    <h4 class="card-title"><%= @dividend.stock_name %></h4>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Annual Dividend: <%= number_to_currency(@dividend.div_amount) %></li>
        <li class="list-group-item">Number of Stocks Owned: <%= @dividend.stock_owned %></li>
        <li class="list-group-item">Dividend Total: <%= number_to_currency(@dividend.stock_total) %></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <%= link_to "Edit this dividend", edit_dividend_path(@dividend) %> |
  <%= link_to "Back to dividends", dividends_path %>

  <%= button_to "Destroy this dividend", @dividend, method: :delete %>
</div>
