<div class="card">
  <h3 class="card-header text-bg-info"><%= @dividend.stock_symbol %></h3>
  <div class="card-body">
    <h4 class="card-title"><%= @dividend.stock_name %></h4>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Annual Dividend: <%= number_to_currency(@dividend.div_amount) %></li>
        <li class="list-group-item">Number of Stocks Owned: <%= @dividend.stock_owned %></li>
        <li class="list-group-item">Dividend Total: <%= number_to_currency(@dividend.stock_total) %></li>
      </ul>
    </div>
    <br/>
    <p class='fst-italic'>*If your Annual Dividend shows up as $0.00, update the Annual Dividend with numbers only, ie no '$'</p>
  </div>
</div>
<br/>
<div>
  <%= link_to "Update Dividend", edit_dividend_path(@dividend) %> |
  <%= link_to "Back to Portfolio", dividends_path %>
</div>
